
<ul>
  {{#each friendreceived}}
    <li>{{this.fullname}}</li>
    <button><a href="/user/{{this.accountId}}/acceptRequest">Accept</a></button>
    <button><a href="/user/{{this.accountId}}/declineRequest">Decline</a></button>
  {{/each}}
</ul>