<h1>Welcome to TruthSocial</h1>

<div class="mt-4">
    <h3>Login</h3>

    <form method="POST" action="/account/login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>      
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>     
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>
<a href="/account/register">Register</a>